<%- include partials/header.ejs %>


<div class="jumbotron">
    <div class="container">
        <button class="btn btn-primary btn-lg" id="uploadFile">upload File</button>
      
      <h1 class="display-3" id="display-name-div"></h1>

    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
             <form id="myForm" name="myForm" action="/ajax/fileUPload" method="post"  enctype="multipart/form-data"> 
                <div class="form-group">
                    <label for="userfile">Upload file:</label>
                    <input type="file" id="userfile" name="avatar" multiple>
                  </div>
                  <div class="form-group">
                    <label for="userfile">Text file:</label>
                    <input type="text" id="desc" name="desc" >
                  </div>
            </form>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    window.addEventListener('load',init);
    function init(){

        let empsData = [];
        
        function getData(url,type,data) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: url,
                    type: type,
                    data:data,
                    success: function (data) {
                        resolve(data)
                    },
                    error: function (error) {
                        reject(error)
                    },
                })
            })
        }



    }// init
</script>

</body>
</html>
