<%- include partials/header.ejs %>


<div class="jumbotron">
    <div class="container">
        <button class="btn btn-primary btn-lg" id="uploadFile">upload File</button>
      
      <h1 class="display-3" id="display-name-div"></h1>

    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="myForm" name="myForm" action="/ajax/fileUPload" method="post"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userfile">Upload file:</label>
                    <input type="file" id="userfile" name="userfile" multiple>
                  </div>
        
            </form>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    window.addEventListener('load',init);
    function init(){

        let uploadButton = document.getElementById('uploadFile');
        uploadButton.addEventListener('click',(event)=>{
            event.preventDefault();
            
            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');
            formData.append('avatar', fileField.files[0]);


            fetch('/ajax/fileUPload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(result => {
                console.log('Success:', result);
            })
            .catch(error => {
                 console.error('Error:', error);
            });


            console.log("hellow all");
        });
    

     }
</script>

</body>
</html>
