<%- include partials/header.ejs %>


<div class="jumbotron">
    <div class="container">
        <button class="btn btn-primary btn-lg" id="LoadNameBtn">Load User Details</button>
      
      <h1 class="display-3" id="display-name-div"></h1>

    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    window.addEventListener('load',init);
    function init(){

        // 1) selection buttion and place hoder to update result form server
        var loadDetailsBtn = document.getElementById('LoadNameBtn');
        var detailsPlace = document.getElementById('display-name-div');

        //  2) creating xmlhttp request
        const XmlHttprequestObj = new XMLHttpRequest();
        XmlHttprequestObj.onreadystatechange = function (e) {
            if (this.readyState === 4) {
                if (this.status == 200) {
                // 4) if all is well update respone in place holder
                  detailsPlace.innerHTML = XmlHttprequestObj.responseText;
                } else {
                    console.log("Error Occured");
                }
            }
        }
      

        // 3) add event listner to button
        loadDetailsBtn.addEventListener("click",(e)=>{
            XmlHttprequestObj.open("GET", '/ajax/getName'+"?name=Mustaq", true);
            XmlHttprequestObj.send();
        });

     }
</script>

</body>
</html>
