<%- include partials/header.ejs %>


<div class="jumbotron">
    <div class="container">
        <button class="btn btn-primary btn-lg" id="uploadFile">upload File</button>
      
      <h1 class="display-3" id="display-name-div"></h1>

    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="myForm" name="myForm" action="/ajax/fileUPload" method="post"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userfile">Upload file:</label>
                    <input type="file" id="userfile" name="userfile">
                  </div>
        
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    window.addEventListener('load',init);
    function init(){

        
        // let uploadButton = document.getElementById('uploadFile');

        // uploadButton.addEventListener('click',(event)=>{
        //     event.preventDefault();

        // })


        const myHeaders = new Headers();
            myHeaders.append('Content-Type', 'application/json');
            myHeaders.append('Accept', 'application/json');
            myHeaders.append( 'x-authantication-key',"abcdefslhlkj6uwyew8e775656");


        const myRequest = new Request('http://localhost:3000/ajax/postjson', {
            method: 'POST',
            headers: myHeaders,
            mode: 'cors',
            cache: 'default',
            body: JSON.stringify({name: "mustaq",wife: 'Arshiya Ahamed'})
        });



        (async () => {
            const rawResponse = await fetch(myRequest);
            const content = await rawResponse.json();
            console.log(content);
        })();



     }
</script>

</body>
</html>
