<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <h3>TODO:</h3>
    <ul>
      <li>create user button</li>
      <li>created cuser will be blocked or allowed</li>
      <li>list of user displayed</li>
      
    </ul>
  </body>
</html>
